<h1>Questions</h1>
<div class="questions-list">
    <% @questions.each do |question| %>
      <article>
        <h3><a href="/questions/<%=question.id%>"><%= question.title %></a></h3>
          <p>
            <!-- <span><#%= question.author.name %></span> -->
            <div><%= question.votes.total_value %> votes</div>
            <div><%=question.views %> views</div>
            <div><%=question.answers.count%> answers</div>



            <form action="/upvotes/Question/<%=question.id%>" method="post">
              <input type="submit" value="UP">
            </form>
            <form action="/downvotes/Question/<%=question.id%>" method="post">
              <input type="submit" value="DOWN">
            </form>
            <% if current_user && current_user.id == question.author_id %>
              <form action="/questions/<%= question.id %>" method="POST">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" value="Delete Question">
              </form>
            <% end %>
          </p>
      </article>
    <% end %>
</div>
