<h1>Questions</h1>
<div class="questions-list">
    <% @questions.each do |question| %>
      <article>
        <h3><a href="/questions/<%=question.id%>"><%= question.title %></a></h3>
          <p>
            <span><%= question.author.name %></span>
            <div><%= question.votes.total_value %> votes</div>
            <div><%=question.views %> views</div>
            <div><%=question.answers.count%> answers</div>



            <form action="/upvotes/Question/<%=question.id%>" method="post">
              <input type="submit" value="UP">
            </form>
            <form action="/downvotes/Question/<%=question.id%>" method="post">
              <input type="submit" value="DOWN">
            </form>
          </p>
      </article>
    <% end %>
</div>
