<h1>Questions</h1>
<div class="questions-list">
    <% @questions.each do |question| %>
      <article>
        <h3><a href="/questions/<%=question.id%>"><%= question.title %></a></h3>
          <p>
            <span><%= question.author.name %></span>
            <span><%= question.votes.total_value %></span>
            <a href="/upvotes/Question/<%=question.id%>">UP</a>
            <a href="/downvotes/Question/<%=question.id%>">down</a>
          </p>
      </article>
    <% end %>
</div>
