<h1>Question: <%= @question.title %></h1>
<p><%= @question.question_body %></p>
<p>Question author: <%= @question.author.name %></p>
<% if current_user %>
<form action="/upvotes/Question/<%=@question.id%>" method="post">
  <input type="submit" value="UP">
</form>
<div><%= @question.votes.total_value %> votes</div>
<form action="/downvotes/Question/<%=@question.id%>" method="post">
  <input type="submit" value="DOWN">
</form>
<% else %>
<div><%= @question.votes.total_value %> votes</div>
<% end %>

<% if current_user && current_user.id == @question.author_id %>
<form action="/questions/<%= @question.id %>/edit" method="GET">
  <input type="submit" value="Edit Question">
</form>
<form action="/questions/<%= @question.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Question">
</form>
<% end %>

<h2>Question Comments</h2>
<ul>
  <% if @question.comments %>
  <% @question.comments.each do |comment| %>
  <li>
    <%= comment.comment_body %>
    <strong>Author: <%= comment.commenter.name %></strong>
    <% if current_user && current_user.id == comment.commenter_id %>
    <a href="/comments/<%= comment.id %>/edit">Edit Comment</a>

    <form action="/comments/<%= comment.id %>" method="POST">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="question_id" value= "<%= @question.id %>">
      <input type="submit" value="Delete Comment">
    </form>
    <% end %>
  </li>
  <% end %>
</ul>
<% end %>

<h1>Answers</h1>
<ul>
  <% @question.answers.each do |answer| %>
  <li id="question-answers">
    <%= answer.answer_body %>
    <div>
      <span>answered on <%=Date.strptime("#{answer.created_at}")  %></span>
      <strong> Author: <%= answer.answerer.name %> </strong>
    </div>
    <% if current_user %>
    <form action="/upvotes/Answer/<%=answer.id%>" method="post">
      <input type="submit" value="UP">
    </form>
    <div><%= answer.votes.total_value %> votes</div>
    <form action="/downvotes/Answer/<%=answer.id%>" method="post">
      <input type="submit" value="DOWN">
    </form>
    <% else %>
    <div><%= answer.votes.total_value %> votes</div>
    <% end %>

    <% if current_user && current_user.id == answer.answerer_id %>
    <form action="/questions/<%= @question.id %>/answers/<%= answer.id %>" method="POST">
      <input type="hidden" name="_method" value="delete">
      <input type="hidden" name="question_id" value= "<%= @question.id %>">
      <input type="submit" value="Delete Answer">
    </form>
    <% end %>
  </li>
  <% if answer.comments %>
  <ul>
    <% answer.comments.each do |comment| %>
    <li id="answer-comments">
      <%= comment.comment_body %>
      <div>
        <span>added on <%=Date.strptime("#{comment.created_at}")  %></span>
        <strong> Author: <%= comment.commenter.name %> </strong>
      </div>
      <% if current_user && current_user.id == comment.commenter_id %>
      <form action="/comments/<%= comment.id %>" method="POST">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="question_id" value= "<%= @question.id %>">
        <input type="submit" value="Delete Comment">
      </form>
      <% end %>
    </li>
    <% end %>
  </ul>
  <% end %>
  <% end %>
</ul>



