<h1>Question: <%= @question.title %></h1>
<p><%= @question.question_body %></p>

<form action="/questions/<%= @question.id %>" method="DELETE">
  <input type="submit" value="Delete Question">
</form>

<h2>Question Comments</h2>
<ul>
  <% if @question.comments %>
  <% @question.comments.each do |comment| %>
  <li>
    <%= comment.comment_body %>
    <strong>Author: <%= comment.commenter.name %></strong>
  </li>
  <% end %>
</ul>
<% end %>

<h1>Answers</h1>
<ul>
  <% @question.answers.each do |answer| %>
    <li id="question-answers">
      <%= answer.answer_body %>
      <strong> Author: <%= answer.answerer.name %> </strong>
    </li>
      <% if answer.comments %>
      <ul>
      <% answer.comments.each do |comment| %>
      <li id="answer-comments">
        <%= comment.comment_body %>
        <strong> Author: <%= comment.commenter.name %> </strong>
      </li>
      <% end %>
    </ul>
    <% end %>
  <% end %>
</ul>



