<h1>Question: <%= @question.title %></h1>
<p><%= @question.question_body %></p>

<% if current_user && current_user.id == @question.author_id %>
<form action="/questions/<%= @question.id %>" method="POST">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Question">
</form>
<% end %>

<h2>Question Comments</h2>
<ul>
  <% if @question.comments %>
  <% @question.comments.each do |comment| %>
  <li>
    <%= comment.comment_body %>
    <strong>Author: <%= comment.commenter.name %></strong>
    <% if current_user && current_user.id == comment.commenter_id %>
      <form action="/comments/<%= comment.id %>" method="POST">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="question_id" value= "<%= @question.id %>">
        <input type="submit" value="Delete Comment">
      </form>
    <% end %>
  </li>
  <% end %>
</ul>
<% end %>

<h1>Answers</h1>
<ul>
  <% @question.answers.each do |answer| %>
    <li id="question-answers">
      <%= answer.answer_body %>
      <strong> Author: <%= answer.answerer.name %> </strong>
      <% if current_user && current_user.id == answer.answerer_id %>
      <form action="/questions/<%= @question.id %>/answers/<%= answer.id %>" method="POST">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="question_id" value= "<%= @question.id %>">
        <input type="submit" value="Delete Answer">
      </form>
    <% end %>
    </li>
      <% if answer.comments %>
      <ul>
      <% answer.comments.each do |comment| %>
      <li id="answer-comments">
        <%= comment.comment_body %>
        <strong> Author: <%= comment.commenter.name %> </strong>
        <% if current_user && current_user.id == comment.commenter_id %>
          <form action="/comments/<%= comment.id %>" method="POST">
            <input type="hidden" name="_method" value="delete">
            <input type="hidden" name="question_id" value= "<%= @question.id %>">
            <input type="submit" value="Delete Comment">
          </form>
       <% end %>
      </li>
      <% end %>
    </ul>
    <% end %>
  <% end %>
</ul>



